
.Seccion-productos{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin: 30px 0 0 0;
    
}



.titulo-productos{
    font-size: 20px;
    text-align: center;
    font-family: 'PressStart';
    padding: 20px 0 20px 0;
}

.contenedor-productos{
    width: 100%;
    
}


.contenedor-cajas{
    display: flex;
    width: 100%;
    height: 80%px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14PX;
    justify-content: center;
    color: #363636;
    font-family:'IBMPlexMono' ,sans-serif; 
}

.Contenedor-card{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 232px;
    border-radius: 10px;
    background-color:#bdb9b9;
}

.card{
    
    width: 173px;
    height: 100%;
    text-align: center;
}

.img-card{

    width: 148px;
    height: 174px;
}


.card-container--value{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:70px;
    font-weight: bold;
}


/* Seccion formulario */

.Formulario{
    width: 100%;
    height: 517px;
}

.formulario-group {
    display: flex;
    justify-content: center;
    
}

.titulo-form{
    text-align: center;
    margin: 10px;
    font-size: 19px;
    font-family: 'PressStart';
    padding: 20px 0 20px 0;
    
    
    
}

.formulario-group form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}



.form-input{
    display: flex;
    width: 350px;
    height: 58px;
    border-radius: 40px;
    padding: 0 0 0 10px;
    border: 3px solid #4a4949;
    font-size: 15px;
    color: #4c4d4e;
    outline: none;
}

.form-input::placeholder {
    color: #363636;
    font-weight: 600;
}



.contenedor-btn{
    display: flex;
    gap: 10px   ;
    justify-content: center;
}

.btn-enviar{
    width: 164px;
    height: 55px;
    border-radius: 15px;
    background-color: #605d5d;
    font-size: 19px;
    color: white;
    transition: background 0.7s linear;
    
}

.btn-enviar:hover{
    transition: background 0.7s linear;
    transition: color 0.4s linear;
    background-color: #b1b1b1;
    color:black;
    

}

.btn-limpiar{
    width: 164px;
    height: 55px;
    border-radius: 15px;
    border: 3px solid #605d5d;
    background-color: white;
    font-size: 19px;
    color: black;
    transition: background 0.7s linear;
}

.btn-limpiar:hover {
    transition: background 0.7s linear;
    transition: color 0.4s linear;
    background-color: #868686;
    color: white;
}

/* seccion escritorio */

@media only screen and (min-width: 1024px){
    .Seccion-productos{
        width: 100%;
        height: 1115px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 100px;
        gap: 160px;
    }

    .productos{
        width:45%;
        background: #f7f7f7;
        box-shadow: 7px 9px 15px rgba(0, 0, 0, 0.08);
        height: 700px;
    }
    
    .contenedor-productos{
        height: 600px;
        display: flex;
        justify-content: center
        
    }
    
    .contenedor-cajas{
        display: flex;
        width: 99%;
        height: 600px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    
    
    
    .Contenedor-card{
        display: flex;
        justify-content: center;
        border: 2px solid black;
        height: 244px;
        border-radius: 10px;
        background-color: #bdb9b9;
        box-shadow: 7px 6px 14px rgba(0, 0, 0, 0.20);
        
    }
    

    

    .card{
        display: flex;
        width: 173px;
        height: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .img-card{
        width: 157px;
        height: 159px;
    }

    .Formulario{
        width: 472px;
        height: 507px;
        background-color: #f7f7f7;
        box-shadow: 7px 9px 15px rgba(0, 0, 0, 0.08);

    }
}